

/*------------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*------------------
    COMMONS
------------------*/
body {
    background-color: #000;
    height: 100vh;
}

/*------------------
    TYPO
------------------*/
body {
    font-family: 'Lato', sans-serif;
    color: #fff;
}

/*------------------
    BUTTONS
------------------*/
button {
    background: transparent;
    border: none;
    font-family: inherit;
    color: inherit;
}
.btn-header {
    background-color: #4a4a4a;
    padding: 5px;
    border-radius: 5px;
}
.btn-footer-container {
    padding: 10px;
}
.btn-footer-text {
    margin-top: 4px;
    font-size: 14px;
}
.btn-end-meeting {
    background-color: #4a4a4a;
    color: red;
    padding: 20px;
}

/*------------------
    HEADER
------------------*/
header {
    height: 40px;
    padding: 0 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .btn-header {
    margin-left: 6px;
}

/*------------------
    MAIN
------------------*/
main {
    height: calc(100% - 130px);
    width: 90%;
    margin: auto;
    overflow-y: auto;
    padding: 20px 0;
}
.people {
    display: flex;
    flex-wrap: wrap;
}
.person-col {
    width: calc(100% / 7);
    padding: 5px;
}
.person {
    position: relative;
}
.person img {
    display: block;
    width: 100%;
}
.person-name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    padding: 5px;
}

/*------------------
    FOOTER
------------------*/
footer {
    height: 90px;
    background-color: #222222;
    display: flex;
}
.footer-left, .footer-center, .footer-right {
    display: flex;
}
.footer-left, .footer-right {
    width: 15%;
}
.footer-left, .footer-center {
    align-items: center;
}
.footer-center {
    width: 70%;
    justify-content: center;
}
.footer-right {
    justify-content: flex-end;
}