/* 
Reset
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Common
*/

body {
    height: 100vh;
    background-color: #000;
}

button {
    background: transparent;
    border: none;
    font-family: inherit;
    color: inherit;
}

/*
Typo
*/

body {
   font-family: 'Lato', Arial, Helvetica, sans-serif;
}

/*
Header
*/

header {
    height:40px;
    border: 1px dotted red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #FFF;
}

/*
Main
*/

main {
    height: calc(100% - 120px);
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.people {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 20px 0;
}

.col-person {
    width: calc(100% / 7);
    /* debug */
    padding: 10px 5px;
}

.person  {
   position: relative;
  }

.person  img  {
  width: 100%;
  display: block;
}

.person-name {
position: absolute;
bottom: 0;
left: 0;
padding: 5px;
background-color: rgba(0,0,0,0.5);
opacity: 0.5;
font-size: 13px;
color: #FFF;

}


/*
Footer
*/

footer {
    height:80px;
    color: #FFF;
    display: flex;
    justify-content: space-between;

}

footer .flex-container {
    display: flex;
}

.footer-left, 
.footer-right {
    width: 15%;
}

.footer-center {
    align-items: center;
}

.footer-right {
    justify-content: flex-end;

    
}

.footer-left {
    padding-left: 10px;
    align-items: center;
}

footer .btn-footer-container {

    padding: 10px;
    display: flex;
    align-items: center;
}

footer .btn-footer-chevron i {
    font-size: 8px;
    margin-left: 10px;
}

footer .btn:hover {
    background-color: yellow;
    
}

.footer-right .btn {
padding: 10px 20px;
background-color: gray;
}